<div class="jumbotron">
  <h1>Questions</h1>
</div>

<div class="card-deck">
  <% @questions.each_with_index do |question, index| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Question #<%= index + 1 %></h5>
        <p class="card-text"><%= question.question %></p>
        <%= link_to 'Responses', question_answers_path(question), { class: 'btn btn-secondary' } %>
        <%= link_to 'Add Response', new_question_answer_path(question), { class: 'btn btn-primary' } %>
      </div>
    </div>
  <% end %>
</div>
